/* #4A3C2A #F8EFBA */
body {
    font-family: Arial, sans-serif;
    background-color: #F8EFBA;
    margin: 0;
    padding: 0;
}

.reservation-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #F8EFBA;
}

.reservation-form {
    width: 50%;
    padding-right: 20px;
}

h1 {
    font-size: 36px;
    color: #09151e;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #09151e;
    line-height: 1.6;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #2C3A47;
}

select, input[type="date"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color:#a4b0be;
}

.phone {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    background-color:#a4b0be;
}

.txt_comment {
    width: 100%;
    height: 100px;
    resize: none; /* Disable resizing */
    box-sizing: border-box;
    background-color:#a4b0be;
    
}

button {
    padding: 15px;
    background-color: #09151e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #666;
}

.reservation-image {
    width: 40%;
}

.reservation-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
